.uploadContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
}

.topBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 5%;
}

.fileContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileContainer img {
  margin-bottom: 0.2rem;
}

.uploadContainer input {
  display: none;
}

.uploadContainer h3 {
  margin: 0;
}

.topBar {
  top: 5%;
}

.uploadButton {
  background-color: inherit;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finishedContainer {
  margin-top: 2rem;
}

.uploadAgainButton {
  margin-top: 0.75rem;
  padding: 0 0.75rem;
}
